@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    color: rgb(6, 224, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Poppins', consolas;
}
body {
    background: #111;
}